<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/register-login-theme.css" rel="stylesheet">
</head>
<body>
    <header class="bg-yellow padding-10">
      <div class="headertop"><a href="/"><img  class="imgmercado" src="images/logo-mercado-liebre.svg"></img></a>
        
        <div class="search-bar w-50">
                <input type="text" placeholder="   Busca Tranqui pa">
                <button>
                    <i class="fas fa-search"></i>
                </button>
        </div>

        <p>Compra en cuotas y sin tarjetas de credito <i class="fas fa-hand-holding-usd"></i></p> 

    </div>

    <nav class="nav">
        <ul>
            <li><a href="Ofertas.html">Ofertas</a> </li>
            <li><a href="TiendasOficiales.html">Tiendas Oficiales</a> </li>
            <li><a href="Vender.html">Vender</a> </li>
            <li><a href="Ayuda.html">Ayuda</a> </li>
        </ul>
        <ul>
            <li><a href="register.html">Crear Tu Cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="MisCompras.html">Mis Compras<i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        
    </nav>
    
     <div class="burger-menu burguer-menu">
        <i class="fas fa-bars"></i>
    </div>
    
    </header>
    <form action="/" method="POST" class="create-form">

    <div class="control-formulario-login">  
        <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" class="control-login">
    </div>


    <div class="control-formulario-login">
        <input type="password" name="contraseña" placeholder="Elegi tu contraseña" class="control-login">
    </div>
       

    <div class="control-formulario-login">
        <button type="submit" class="buttom">Guardar</button>

    </div>

 
    </form>

<footer class="marginFooter"> 
 <div class="flexfooter"> 
    <section class="centrar">
        <i class="fas fa-credit-card iconofooter"></i>
        <h3 class="centrar">Pagá con tarjeta o en efectivo</h3>
        <p class="centrar">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="centrar">
        <i class="fas fa-gift iconofooter"></i>
        <h3 class="centrar">Envío gratis desde $ 2.500</h3>
        <p class="centrar">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="centrar">
        <i class="fas fa-user-shield iconofooter"></i>
        <h3 class="centrar">Seguridad, de principio a fin</h3>
        <p class="centrar">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
    </section>
 </div>
    <section class="padding">
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
</footer>
</body>
</html>
