* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  
}



header nav {
    display: none;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    color: black;
    text-decoration: none;
}

footer .fas {
    color: #336bff;
    font-size: 2em;
    margin-bottom: 10px;
}

main article .separador {
    margin-bottom: 10px;
    background-color: white;

}
main article .separador:hover {

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


main section article i {
    display: block;
}

@media (min-width: 480px) {
    header nav {
        display: none;
    }
    main {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }



 }


@media (min-width: 632px) {
    
    div.headertop {
    display: flex;
    justify-content: space-around;   
    }

    main h3.Nombre {
        display: none;
    }
    .separador:hover .Nombre{
    opacity: 1;
    }

    header .burguer-menu {
        display: none;
    }
    header nav {
        display: block;
    }
    .container-section {
        display: flex;
        flex-wrap: wrap;
    }
    .nav {
        display: flex;
        justify-content: space-around;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        margin: 0 5px;
    }
    .container-section article {
        width: 50%;
        
    }


}

    


@media (min-width: 1000px){ 
    .container-section article {
        width: 25%; 
    }

    .flexfooter {
    flex-wrap: nowrap;
    }

}