/*
.bg-blue {
    background-color: #03264c;
}
.bg-lightblue {
    background-color: #1259c3;
}
.bg-gry {
    background-color: #666;
}
.bg-green {
    background-color: #39c54a;
}*/

.bg-lightgry {
    background-color: #ebebeb;
}
.bg-yellow {
    background-color: yellow;
}
.imgmercado {
    width: 200px;
}
.separadorCuadrados {
    padding: 10px;
}

.Titulares {
    font-size: 20px;
}

.headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.burguer-menu {
    color: white;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    width: 45px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 25%;
}

.contenedor-Product {
    padding: 15px;
    border-top: 1px solid #ebebeb;
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.Precios {
    width: 30%;
    font-size: 18px;
}

.Des {
    width: 70%;
    font-size: 16px;
    color: green;
    opacity: 0;
}
.separador:hover .Des{
    opacity: 1;
}
.Nombre {
    font-size: 18px;
    display: block;
    color: lightslategray;
    opacity: 0;
}
.separador:hover .Nombre{
    opacity: 1;
}

.centrar {
    text-align: center;
}

.main {
    padding: 0 5vw 0 5vw;
}

.padding-10 {
    padding: 10px;
}

.camioncito {
    font-size: 16px;
    color: rgb(15, 177, 82);
    border: 1px solid rgb(15, 177, 82);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    background-color: white;
    
}

div.separador .fa-truck{

    transition: transform 1s;

}
div.separador:hover .fa-truck{

    transform: rotate(-90deg);

}







.marginFooter {
    margin-top: 20px;
}
.search-bar {
    display: flex;
    padding: 10px;
    justify-content: center;
    border: dotted 1px black;
}

.search-bar input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    background-color: white;
    border: none;
    max-width: 400px;
}

.search-bar button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: none;
}
